<!DOCTYPE html>
<html>
    <head>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>  
            <style>
                body {background-color: skyBlue}
                h1 {font-family : "verdana"; font-size:38px}
                table{background-color: white; border-color: black}
            </style>
    </head>
    <body>
        <h1>WELCOME to the best bank in the Worlds ! :-)</h1>
        <h2>To fetch customer data by branch name, please add ?branchName="branchName" to the url</h2>
        <frameset cols="50%,50%">
                <frame src="addCustomer.ejs"  scrolling="no">
                <frame src="getCustomer.ejs">
        </frameset> 
    </body>
</html>