<!DOCTYPE html>
<html>
    <head>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>  
            <style>
                    body {background-color: seagreen}
                    h1 {font-family : "verdana"; font-size:38px}
                    table{background-color: white; border-color: black}
                </style>
    
    </head>
    <body>
            <h1>WELCOME to the best bank in the World ! :-)</h1>
            <h2>To update customer data enter all information and hit Submit</h2>
    
        <form id="updateCustomer-form" method="POST" action="/uCustomer" >
        <table>
            <tbody>
            <tr>
            <td>Update existing Customer</td>
            </tr>            
            <tr>
            <td><label>customer id</label></td>
            <td><input type="text" name="custId" value="<%= cList.custId %>"></td>
            <td><label>customer name</label></td>
            <td><input type="text" name="custName" value="<%= cList.custName %>"></td>
            <td><label>branch name</label></td>
            <td><input type="text" name="branchName" value="<%= cList.branchName %>"></td>
            <td><label>account type</label></td>
            <td><input type="text" name="accountType" value="<%= cList.accountType %>"></td>
            </tr>
            <tr>
                    <td><input type="submit" value="Submit" ></td>
            </tr>
            </tbody>
        </table>
    </form>
    </body>
</html>